*, *:before, *:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background: linear-gradient(to right, #d6f0f4 0%, #fcfcfc 100%);
    font-size: 12px;
  }
  
  body, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    letter-spacing: 1.4px;
  }
  
  .background {
    display: flex;
    min-height: 100vh;
  }
  
  .container {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
    
  }
  
  .screen {
    position: relative;
    background: #ffffff;
    border-radius: 15px;
    width: 800px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    bottom: 0;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
    z-index: -1;
  }
  
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    /* flex: 1; */
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  .right{
    background-color: #210243;
    width: 200px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .app-title {
    position: relative;
    color: #ea1d6f;
    font-size: 26px;
  }
  .first{
    color: #1b0107;
  }
  .message{
    font-size: 8px;
    color: #1b0107;
    margin-bottom: 20px;
  }
  
  
  .app-contact {
    margin-top: auto;
    font-size: 8px;
    color: #888;
  }
  
  .app-form-group {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    margin-left: 30px;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: center;

  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: 1px solid #666;
    color: rgb(14, 12, 12);
    font-size: 10px;
    padding-left: 10px;

  }
  .app-form-control::placeholder {
    color: #666;
  }
  
  
  .app-form-button {
    background: #ea1d6f;
    color: #f4eef0;
    border: none;
    font-size: 14px;
    cursor: pointer;
    width: 300px;
    height: 30px;
  }
  
  .app-form-button:hover {
    color: #c9c2c5;
  }

  .map{
    width: 250px;
    height: 350px;
    position: relative;
    right: 200px;
  } 
  
  @media screen and (max-width: 520px) {
    .screen-body {
      flex-direction: column;
    }
  
    .screen-body-item.left {
      margin-bottom: 30px;
    }
  
    .app-title {
      flex-direction: row;
    }
  
    .app-title span {
      margin-right: 12px;
    }
  
    .app-title:after , .map{
      display: none;
    }
  }
  
  @media screen and (max-width: 600px) {
    .screen-body {
      padding: 40px;
    }
  
    .screen-body-item {
      padding: 0;
    }
  }
  
